* {
    padding:0;
}

body {
    background:#fff;
    font-size:12px;
}

#navigation{
    margin: 0px;
    background: #D9EDF7;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid #BCE8F1;
}

#ulMenu li a{
    outline: 0px;
}

.captionImg{
    background: #222;
    text-align: center;
    color: #FFF;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.flash_data_ok,
.flash_data_err {
    position:fixed;
    top:0;
    z-index:100;
    font-size:15px;
    display:none;
    width:100%;
    padding:5px 10px;
    vertical-align:bottom;
    color:#fff;
    font-weight:700;
    background:rgba(0,200,0,1);
    border-top:2px solid #090;
    border-bottom:2px solid #090;
}

.flash_data_err {
    background:rgba(255,0,0,1);
    border-top:2px solid #900;
    border-bottom:2px solid #900;
}

.panel_login {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:450px;
    height:300px;
    box-shadow:0 0 5px #aaa;
    border: none;
}

.input_wrap input {
    margin-top:30px;
    border:1px solid #aaa;
    padding:5px;
    height:35px;
    position:relative;
}

.error_text {
    margin-top:15px;
    height:20px;
    width:100%;
    color:red;
}

.btn_login_override {
    outline:0;
    padding:5px 40px;
    background:#428BCA;
    border:0;
    color:#fff;
    display:block;
    margin:15px 0px;
}

.btn_login_override:hover,
.btn_login_override:focus {
    background:#D9EDF7;
    color:#3183B9;
}

.inner-addon {
    position:relative;
}

.inner-addon .glyphicon {
    position:absolute;
    padding:10px;
    pointer-events:none;
}

.left-addon .glyphicon {
    left:0;
}

.right-addon .glyphicon {
    right:0;
}

.left-addon input {
    padding-left:30px;
}

.right-addon input {
    padding-right:30px;
}

.cont_about_contact {
    min-height:600px;
    max-height:100%;
    padding:10px;
}

.about_contact_heading h3 {
    margin:0;
    padding:10px;
}

.contentAboutContact{
    width: 900px;
    text-align: justify;
    background: #f8f8f8;
    padding: 10px; 
    display: table;
}

.popupBackground {
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    display:none;
}

.popup {
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display:none;
}

.popupContent {
    overflow:auto;
    background:#fff;
    width:800px;
    height:500px;
}

.popupCenter {
    width:700px;
    margin:0 auto;
}

.closeBtn{
    float:right;
    width: 20px;
    height: 20px;
    background: url('images/ui-icons_222222_256x240.png') no-repeat;
    background-position: -95px -127px;
}

.closeBtn:hover{
    cursor: pointer;
    background: url('images/ui-icons_888888_256x240.png') no-repeat;
    background-position: -95px -127px;
}

.popupWrap{
    display: none;
    width: 300px;
    position: fixed;
    left:50%;
    top:50%;
    margin-left: -180px;
    margin-top: -100px;
}

.popupBox{
    padding: 10px;
}

.close_btn,
.close_btn:active,
.close_btn:link {
    text-decoration:none;
    color:#fff;
    display:inline-block;
    float:right;
    padding:2px 5px;
    text-align:center;
    font-weight:700;
    outline:none;
}

.close_btn:hover {
    text-decoration:none;
    color:#ccc;
}

.readMoreContent {
    width: 700px;
    text-align:justify;
    background:#e8e8e8;
    padding:10px;
    display:table;
}

.readMoreImage {
    width:400px;
    float:right;
    display:table-cell;
    background:#ccc;
    margin-left:10px;
}

.readMoreText{
    float: left;
    width: 270px;
}

.readMoreContent ul{
    list-style-position: inside;
}

.flash_data_ok,
.flash_data_err {
    position:fixed;
    top:0;
    z-index:100;
    font-size:15px;
    display:none;
    width:100%;
    padding:5px 10px;
    vertical-align:bottom;
    color:#fff;
    font-weight:700;
    background:rgba(0,200,0,1);
    border-top:2px solid #090;
    border-bottom:2px solid #090;
}

.flash_data_err {
    background:rgba(255,0,0,1);
    border-top:2px solid #900;
    border-bottom:2px solid #900;
}

.nav_user_info {
    float:right;
    margin-top:15px;
}

#name_link{
    outline: 0px;
}

.selectOverride {
    width:200px;
}

.logout_box {
    position:fixed;
    top:33px;
    right:5px;
    width:100px;
    display:none;
}

.arrow-up {
    width:0;
    height:0;
    margin:0 auto;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #A9CDE7;
}

.logout_text {
    height:60px;
    background:#A9CDE7;
}

.logout_btns {
    font-size:15px;
    color:#555;
    padding:3px 10px;
}

.logout_btns a {
    font-size:12px;
    color:#555;
}

.pane_overide{
    display: table;
    background: none;
    border-radius: 0;
    box-shadow: none;
}

.das_icon:nth-child(5){
    margin: 0;
}

.popupFormWrap{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.popupForm,.pagesPopupFrom{
    padding: 10px;
    width: 550px;
}

.pagesPopupFrom{
    height: 500px;
    width: 1100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.admin_site{
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.admin_site_center,.admin_site_center_pages {
    display:table;
    width: 530px;
}

.admin_site_center_pages{
    width: 1070px;
}

.admin_edit_center {
    margin:20px auto;
    width:1100px;
    display:table;
}

.back_btn {
    color:#fff;
    font-size:12px;
}

.back_btn:hover {
    color:#222;
}

.table_override_content {
    width:1100px;
    color:#555;
}

.table_override_content a {
    color:#555;
    outline:0;
}

.admin_editBox_override {
    margin:10px 0;
}

.input_grp_override {
    position:relative;
}

.btn-file {
    position:relative;
    overflow:hidden;
}

.btn-file input[type=file] {
    position:absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    font-size:100px;
    text-align:right;
    filter:alpha(opacity=0);
    opacity:0;
    outline:none;
    background:#fff;
    cursor:inherit;
    display:block;
}

.admin_add_btn {
    float:left;
    margin:10px 10px 10px 0;
    border:none;
    background:#090;
    color:#fff;
    padding:5px 20px;
    border-radius:2px;
    display:table-cell;
}

.admin_add_btn:hover {
    background:#050;
}

.admin_edit_btn {
    float:left;
    margin:10px 10px 10px 0px;
    border:none;
    background:#e00;
    color:#fff;
    padding:5px 20px;
    border-radius:2px;
    display:table-cell;
}

.admin_edit_btn:hover {
    background:#500;
}

.das_icon {
    width:128px;
    height:128px;
    float:left;
    margin-right:10px;
    border: 1px solid #D9EDF7;
    box-shadow:0 0 5px #ccc;
    text-align:center;
}

.das_icon:hover {
    border:1px solid #A9CDE7;
}

.das_icon a {
    color:#555;
    outline:0;
}

.das_icon a:hover {
    color:#222;
    text-decoration:none;
}

.productImg {
    display:block;
    height:auto;
    width:100px;
}

.glyphicon_list_override {
    color:#0a0;
    font-size:18px;
}

.glyphicon_list_override:hover {
    color:#050;
}

.glyphicon_delete_override {
    color:#e00;
    font-size:19px;
}

.glyphicon_delete_override:hover {
    color:#500;
}

.footerNormal {
    min-height:50px;
    max-height: 100%;
    background:#f8f8f8;
    border-top:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
}

.footer_center {
    color:#555;
    margin-top:15px;
    text-align:center;
}

.img {
    position: relative;
    float: left;
    width: 216px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.sliderPreview {
    position: relative;
    width: 216px;
    height:auto;
    display: inline-block;
    margin: 3px 0px 0px 0px;
    border:1px solid #aaa;
    overflow:hidden;
    vertical-align: bottom;
}

.sliderPreview:nth-child(5n+1){
    margin-left: 3px;
}

.sliderPreview:hover .overlay{
    cursor:pointer;
    opacity: 1;
    display:block;
}

.overlay{
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.75);
    color:#fff;
    display: none;
}

.overlayBtn{
    color:#32abba;
}

.overlayBtn:hover{
    color:#fff;
}

#browseBtn {
    display:none;
}

.navbar-fixed-bottom {
    position:absolute;
}

.jcrop-holder {
    direction:ltr;
    text-align:left;
}

.jcrop-vline,
.jcrop-hline {
    background:#FFF url(Jcrop.gif);
    font-size:0;
    position:absolute;
}

.jcrop-vline {
    height:100%;
    width:1px !important;
}

.jcrop-vline.right {
    right:0;
}

.jcrop-hline {
    height:1px !important;
    width:100%;
}

.jcrop-hline.bottom {
    bottom:0;
}

.jcrop-tracker {
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    height:100%;
    width:100%;
}

.jcrop-handle {
    background-color:#333;
    border:1px #EEE solid;
    font-size:1px;
    height:7px;
    width:7px;
}

.jcrop-handle.ord-n {
    left:50%;
    margin-left:-4px;
    margin-top:-4px;
    top:0;
}

.jcrop-handle.ord-s {
    bottom:0;
    left:50%;
    margin-bottom:-4px;
    margin-left:-4px;
}

.jcrop-handle.ord-e {
    margin-right:-4px;
    margin-top:-4px;
    right:0;
    top:50%;
}

.jcrop-handle.ord-w {
    left:0;
    margin-left:-4px;
    margin-top:-4px;
    top:50%;
}

.jcrop-handle.ord-nw {
    left:0;
    margin-left:-4px;
    margin-top:-4px;
    top:0;
}

.jcrop-handle.ord-ne {
    margin-right:-4px;
    margin-top:-4px;
    right:0;
    top:0;
}

.jcrop-handle.ord-se {
    bottom:0;
    margin-bottom:-4px;
    margin-right:-4px;
    right:0;
}

.jcrop-handle.ord-sw {
    bottom:0;
    left:0;
    margin-bottom:-4px;
    margin-left:-4px;
}

.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
    height:7px;
    width:100%;
}

.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
    height:100%;
    width:7px;
}

.jcrop-dragbar.ord-n {
    margin-top:-4px;
}

.jcrop-dragbar.ord-s {
    bottom:0;
    margin-bottom:-4px;
}

.jcrop-dragbar.ord-e {
    margin-right:-4px;
    right:0;
}

.jcrop-dragbar.ord-w {
    margin-left:-4px;
}

.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
    background:#FFF;
    filter:alpha(opacity=70) !important;
    opacity:.7 !important;
}

.jcrop-light .jcrop-handle {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#000;
    border-color:#FFF;
    border-radius:3px;
}

.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
    background:#000;
    filter:alpha(opacity=70) !important;
    opacity:.7 !important;
}

.jcrop-dark .jcrop-handle {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#FFF;
    border-color:#000;
    border-radius:3px;
}

.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
    background:#FFF;
}

.jcrop-holder img,
img.jcrop-preview {
    max-width:none;
}

.not-active-link{
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.loadingIcon{
    text-align: center;
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.imageEditPanel{
    border: 1px solid black;
    width: 702px; 
    float: left; 
    display: table-cell; 
    margin-right: 20px;
}
